<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div class="container">
    <form action="/movies/new" method="post">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" placeholder="영화 상영 날짜 ex)2020-10-01">
            <br>
            <label for="startTime">Start Time</label>
            <input type="text" id="startTime" name="startTime" placeholder="영화 상영 시작 시간 ex) 16:00">
            <br>
            <label for="runningTime">RunningTime</label>
            <input type="text" id="runningTime" name="runningTime" placeholder="영화 상영 시간 ex) 120">
            <br>
            <label for="movieTitle">MovieTitle</label>
            <input type="text" id="movieTitle" name="movieTitle" placeholder="영화 제목 ex) 담보">
            <br>
            <label for="companyType">CompanyType</label>
            <input type="text" id="companyType" name="companyType" placeholder="영화관 ex) CGV">
            <br>
            <label for="region">Region</label>
            <input type="text" id="region" name="region" placeholder="상영관 지역 ex) 서현">
            <br>
            <label for="hall">Hall</label>
            <input type="text" id="hall" name="hall" placeholder="상영관 번호 ex) 1">

        </div>
        <button type="submit">영화 등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>