<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div class="container">
    <form action="/movies/new" method="post">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" placeholder="영화 상영 날짜 ex)2020-10-01">
            <br>
            <label for="start_time">Start Time</label>
            <input type="text" id="start_time" name="start_time" placeholder="영화 상영 시작 시간 ex) 16:00">
            <br>
            <label for="running_time">RunningTime</label>
            <input type="text" id="running_time" name="running_time" placeholder="영화 상영 시간 ex) 120">
            <br>
            <label for="movie_title">MovieTitle</label>
            <input type="text" id="movie_title" name="movie_title" placeholder="영화 제목 ex) 담보">
            <br>
            <label for="company_type">CompanyType</label>
            <input type="text" id="company_type" name="company_type" placeholder="영화관 ex) CGV">
            <br>
            <label for="region">Region</label>
            <input type="text" id="region" name="region" placeholder="상영관 지역 ex) 서현">
            <br>
            <label for="hall">Hall</label>
            <input type="text" id="hall" name="hall" placeholder="상영관 번호 ex) 1">

        </div>
        <button type="submit">영화 등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>