<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p> 영화리스트 </p>
    <br>
    <tr th:each="movies : ${movies}">
        <form action="/reservations/new" method="post">
            <button type="submit" id="id" name="id" th:value="${movies.id}"></button>
            <td th:text="${movies.date}"></td>
            <td th:text="${movies.start_time}"></td>
            <td th:text="${movies.running_time}"></td>
            <td th:text="${movies.movie_title}"></td>
            <td th:text="${movies.company_type}"></td>
            <td th:text="${movies.region}"></td>
            <td th:text="${movies.hall}"></td>
        </form>
        <hr>
    </tr>
</div>
</body>

</html>