<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div class="container">
    <form action="/reservations/new" method="post">
        <div class="form-group">
            <input type="text" id="id" name="id" value="12345679">
            <br>
            <label for="reservation_code">자리</label>
            <input type="text" id="reservation_code" name="reservation_code" placeholder="자리를 선택하세요">
            <br>
            <input type="text" id="member_code" name="member_code" value="12345679">
        </div>
        <button type="submit">선택</button>
    </form>
</div> <!-- /container -->
</body>
</html>